<footer>
    <div class="ps-3 pe-3 pb-2 mt-3">
        <div class="footer-container">
            <div class="links-container">
                <h6><b>USEFUL LINKS</b></h6>
                <div class="links">
                    <div>
                        <p><a href="">PRIVACY POLICY</a></p>
                        <p><a href="#category">CATEGORY</a></p>
                        <P><a href="#about-us">ABOUT US</a></P>
                    </div>
                    <div>
                        <p><a href="/">HOME</a></p>
                        <p><a href="#products">PRODUCTS</a></p>
                        <p><a href="#contact-us">Contact Us</a></p>
                    </div>
                </div>
            </div>
            <div class="contact">
                <h6><b>CONTACT</b></h6>
                <div class="contact-links">
                    <p>XXXXXXXXX</p>
                    <p>sample@gmail.com</p>
                </div>
            </div>
            <div class="social">
                <h6><b>CONNECT</b></h6>
                <div class="social-info-container">
                    <p><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></p>
                    <p><a href="https://www.facebook.com/?_rdr"><i class="fa-brands fa-facebook"></i></a></p>
                    <p><a href="https://www.linkedin.com/feed/"><i class="fa-brands fa-linkedin-in"></i></a></p>
                    <p><a aria-describedby="twitter-link" href="https://x.com/home"><i class="fa-brands fa-twitter"></i></a></p>
                </div>
            </div>
        </div>
        <div class="copyright mt-3">
            <p>© Copyrights 2024.New Bharat Footwear. Design with <i class="fa-regular fa-heart" style="color: #f02405;"></i> by Prince. All Rights Reserved.</p>
        </div>
    </div>
</footer>