<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top ps-2 pe-2">
    <div class="container-fluid">
        <div class="navbar-brand">
            <a class="navbar-brand" href="/">
                <div class="brand-icon"><i class="fa-solid fa-shoe-prints"></i></div>
                <div class="brand-name"><span>New Bharat Footwear</span><br><span class="brand-slogan">Walk with pride</span></div>
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title protest-guerrilla-regular" id="offcanvasNavbarLabel">New Bharat Footwear</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/men">Men's</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/women">Woman's</a>
                    </li>
                    <li><a class="nav-link" href="/kids">Kid's</a></li>
                    <li><a class="nav-link" href="/wishlist"><i class="fa-regular fa-heart"></i>Wishlist</a></li>
                    <li><a class="nav-link" href="/cart"><i class="fa-solid fa-bag-shopping"></i>Cart</a></li>
                    <% if(!currUser) { %>
                        <li><a class="nav-link" href="/login"><b>Login</b></a></li>
                        <li><a class="nav-link" href="/signup"><b>Signup</b></a></li>
                    <% } %>
                    <% if(currUser) { %>
                        <li><a href="/profile/<%= currUser._id %>" class="nav-link"><i class="fa-regular fa-user"></i><b>Profile</b></a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</nav>
