<h3>Dashboard</h3>
<div class="row mt-3">
    <div class="col-sm-3 mb-3 mb-sm-0">
        <div class="card">
            <div class="icon-box sales-icon">
                <i class="fa-solid fa-bag-shopping"></i>
            </div>
            <div class="card-body">
                <h5 class="card-text"><%= totalSales %></h5>
                <p class="card-title">Total Sales</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 mb-3">
        <div class="card">
            <div class="icon-box income-icon">
                <i class="fa-solid fa-dollar-sign"></i>
            </div>
            <div class="card-body">
                <h5 class="card-text">&#8377; <%= totalIncome %></h5>
                <p class="card-title">Total Income</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 mb-3">
        <div class="card">
            <div class="icon-box order-icon">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
            <div class="card-body">
                <h5 class="card-text"><%= totalOrders %></h5>
                <p class="card-title">Orders</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 mb-3">
        <div class="card">
            <div class="icon-box visitor-icon">
                <i class="fa-solid fa-users"></i>
            </div>
            <div class="card-body">
                <h5 class="card-text"><%= totalVisitors.visitorCount %></h5>
                <p class="card-title">Total Visitors</p>
            </div>
        </div>
    </div>
</div>
<hr>

